.Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background: white;
    min-height: 81vh;
    padding: 5%;
}

.logo {
    position: absolute;
    top: 15%;
    margin: 0 25%;
    width: 70vh;
}

.Menu .link{
    font-size: 18px;
    margin: 0 2%;
    color: black;
}

.Menu .link:hover{
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transform: scale(1.5);
    transition-duration: 0.25s;
}
